# version: "3.8"

# services:
#   db:
#     image: postgres:13
#     environment:
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: Ke200207@
#       POSTGRES_DB: pizza_delivery
#     ports:
#       - "5433:5433"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

#   app:
#     build: .
#     ports:
#       - "8000:8000"
#     environment:
#       - DATABASE_URL=postgresql://postgres:Ke200207%40@db/pizza_delivery
#     depends_on:
#       - db

# volumes:
#   postgres_data:
